<% provide :title, " | 新規登録" %>

<div class="container">
  <div class="row col-xs-12 second-color">
    <div class="devise-center">
      <h2>新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="label">
          <%= f.label :nickname, "ニックネーム" %><span class="red">(必須)</span><br />
          <%= f.text_field :nickname, placeholder: '最大15文字まで', maxlength: '15' %>
        </div>

        <div class="field">
          <%= f.label :email, 'メールアドレスを入力' %><span class="red">(必須)</span><br />
          <%= f.email_field :email, autofocus: true, placeholder: '' %>
        </div><br>

        <div class="field">
          <%= f.label :password, "パスワードを入力" %><span class="red">(必須)</span>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: '' %>
        </div><br>

        <div class="field">
          <%= f.label :password_confirmation, "パスワードの確認" %><span class="red">(必須)</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '' %>
        </div><br>

        <div class="field">
          <%= f.label :avatar, "プロフィール画像(後から追加できます)" %><br />
          <%= f.file_field :avatar %>
        </div><br>


        <div class="label"><%= f.label :blog, "ブログ、HP(後から追加できます)" %><br />
            <%= f.text_field :blog, placeholder: 'URL' %>
        </div><br><br>

        <div class="label"><%= f.label :introduction, "自己紹介（後から追加できます）" %><br />
            <%= f.text_area :introduction, placeholder: '学習の目標、意気込みなどを書いてみましょう！', maxlength: '50000' %>
        </div><br><br>

        <a data-toggle="modal" href="#myModal" class="">(利用規約)</a></p>
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">利用規約</h4>
              </div>
              <div class="modal-body">
<table class="table table-bordered">
<tr class="warning"><th></th><th>第1条（規約の適用）</th></tr>
<tr><td>１</td><td>BENTO English利用規約（以下「本規約」といいます。）は、BENTO Englishサービス（以下「本サービス」といいます。）の利用者（本サイト上で会員登録を行った会員の方も含まれます。以下、同様とします。）の皆様に対して適用されます。</td></tr>
<tr><td>２</td><td>本サービスの運営者(（以下「運営者」といいます。）)は、利用者の皆様の承諾を得ることなく本規約を変更することができるものとします。変更後の本規約は、運営者が別途定める場合を除いて、本サイト上で表示された時点より効力を生じるものとし、利用者の皆様が、本規約の変更の効力が生じた後に本サイトをご利用になる場合には、変更後の本規約の全ての記載内容に同意したものとみなされます。</td></tr>
<tr><td>３</td><td>運営者がBENTO Englishウェブサイト（以下「本サイト」といいます。）上に掲載する諸注意等及び本サービスを提供する際に提示するご利用案内（以下合わせて｢諸注意等｣といいます。）が存在する場合、諸注意等は本規約の一部を構成するものとします。</td></tr>
<tr><td>４</td><td>利用者の皆様が、本サイトを利用したことをもって本規約に同意したものとみなします。</td></tr>
<tr><td>５</td><td>会員向けサービスについては、本サイト上で会員登録を行った利用者（以下「会員」といいます。）の方のみが利用できます。会員向けサービスの利用を希望される利用者の皆様は、会員登録を行ってから、ご利用下さい。</td></tr>
</table>

<table class="table table-bordered">
<tr class="warning"><th></th><th>第2条（投稿ルール等）</th></tr>
<tr><td>１</td><td>運営者は､利用者の行動促進及び本サイトにおける情報の充実化を目的として､本サイト上にて､投稿サービスを運営します。</td></tr>
<tr><td>２</td><td>利用者のうち投稿サービスに投稿ができるのは､本サービス所定の方法により会員登録を行った会員に限るものとします。</td></tr>
<tr><td>３</td><td>運営者は､本サービスにおいて投稿された写真､情報等（以下総称して「投稿」といいます。）について､会員の許諾なく自由に､以下の処理を無償でする事ができるものとします。 なお、本条項は運営者の権利を定めるものであり、義務を定めるものではありません。会員は、投稿サービスへの投稿後、投稿者である会員のいかなる理由があっても、運営者が当該投稿を削除する義務を負わないことにつき予め了承するものとします。<br>
【1】内容について審査すること。<br>
【2】本サイトに掲載すること、または掲載しないこと。<br>
【3】修正して、本サイトに掲載すること。<br>
【4】本サイトに掲載した投稿を、掲載後に修正、削除すること。<br></td></tr>
<tr><td>４</td><td>投稿の著作権（著作権法第27条､第28条の権利を含みます。）は会員に帰属します。但し、運営者は当該投稿を自由に使用することができるものとし、会員は､運営者による投稿の改変や公表の有無等について､著作者人格権を行使せず､異議を申し立てないことを承諾するものとします。</td></tr>
<tr><td>５</td><td>投稿の著作権（著作権法第27条､第28条の権利を含みます。）は会員に帰属します。但し、運営者は当該投稿を自由に使用することができるものとし、会員は､運営者による投稿の改変や公表の有無等について､著作者人格権を行使せず､異議を申し立てないことを承諾するものとします。</td></tr>
<tr><td>６</td><td>会員が、投稿サービスに投稿する投稿は、原則として自己が著作権その他の一切の権利を有する投稿に限るものとします。会員が、自己以外の第三者の権利が含まれる投稿（例、第三者が被写体となった写真、第三者の作成した著作物または公共の建造物等が写った写真、第三者の発信した投稿等）（以下「第三者投稿等」といいます。）の投稿・掲載を希望される場合には、本規約の内容及び当該投稿・掲載について、第三者投稿等の著作権者を含む一切の権利者（被写体としてプライバシー権を有する方、肖像権を有する方、投稿の著作権を有するか方を含みますがこれに限りません。）の方の承諾を必ず得るものとし、当該承諾を得た第三者投稿等のみを投稿するものとします。</td></tr>
<tr><td>７</td><td>会員は、投稿の内容に責任を負いまた以下に掲げる行為を行わないものとします。<br>
【1】本サービスと関係のない内容を投稿すること。<br>
【2】営利目的の内容を投稿すること。<br>
【3】同一内容の投稿を意図的に多数投稿すること。<br>
【4】本サイトのサービス・機能に関するお問合せやクレームを投稿すること。<br>
【5】本サイトが提供する情報の正確性に関するお問合せやクレームを投稿すること。</td></tr>
<tr><td>８</td><td>会員は、以下に掲げる事項を含む投稿を投稿してはならないものとします。<br>
【1】著作権、商標権、プライバシー権、肖像権、名誉等、第三者の権利を侵害するまたはそのおそれのある内容を含むもの。<br>
【2】他人のプライバシーにかかる事項を含むもの。<br>
【3】本人・他人の名称・メールアドレス・住所・電話番号・人物が認識できる状態の写真等個人を特定しうる情報を含むもの（投稿者名や投稿内容において使用される場合を含むが、これらに限られない）。<br>
【4】広告・宣伝・営業活動、公職選挙運動、特定の思想・宗教への勧誘、またはそれらに類する内容を含むもの。<br>
【5】ポルノ小説・写真、性的交渉の勧誘、その他猥褻な内容を含むもの。<br>
【6】児童や青少年に対し著しく粗暴性、残虐性又は犯罪を誘発助長し、その健全な育成を阻害する内容を含むもの。<br>
【7】法令、公序良俗に反するまたはそのおそれのある内容を含むもの。<br>
【8】特定の条件でしか発生しない情報についての喧伝ととれるもの。<br>
【9】他人を威圧・脅迫する旨が看取されるもの。<br>
【10】運営者又は第三者を差別又は誹謗中傷する行為。<br>
【11】差別的表現を含むもの。<br>
【12】本サイトにおけるテーマや目的に反するまたはそのおそれのある内容を含むもの。<br>
【13】ナンセンス、グロテスクな内容を含むもの。<br>
【14】その他、本サイトに不適切な内容、表現であると運営者が判断したもの。<br>
</td></tr>
<tr><td>９</td><td>運営者は、会員が本規約に違反したと判断した場合、会員に対し事前に通知することなく、当該会員による本サービスの利用の全部または一部を一時中止、当該会員情報の全部または一部の削除もしくは会員の除名等、運営者が適当と認める措置を行うことができるものとします。なお、その場合、当該措置に伴う一切の不利益に対して運営者は責任を負いません。</td></tr>
<tr><td>10</td><td>前項の措置の他、運営者は、本規約に違反するまたはそのおそれのある行為により被害を被った第三者のために、捜査機関への通報その他必要と思われる措置を講じることができるものとします。</td></tr>
<tr><td>11</td><td>運営者は、本サイトの利用満足度向上のため、本規約第6条6項及び7項に記載された各事項に該当すると判明した場合に限らず、会員へ直接連絡し、当該会員により投稿された投稿内容の確認を行うことができるものとします。</td></tr>
</table>

<table class="table table-bordered">
<tr class="warning"><th></th><th>第3条（運営者の責任）</th></tr>
<tr><td>１</td><td>運営者は、信頼できるサービスや情報を利用者の皆様へお届けすべく努力をしていますが、次の各号について、一切保証致しません。本サイトのご利用に際しては、利用者の皆様ご自身が、本サイト及び本サイトにおいて提供される情報やサービスの有用性等を判断し、ご自身の責任でご利用下さい。<br>
【1】本サイト上で提供される全ての情報（本サイトとして、または本サイトに関連して送信される電子メール等により提供される情報等、及び、本サイト上に表示される、第三者が管理・運営するリンクサイト内に含まれる一切の情報等を含みます。以下、同様とします。）に関する、有用性、適合性、完全性、正確性、安全性、合法性、最新性等。<br>
【2】利用者の皆様が本サイト上に提供される情報を利用して第三者と交渉、契約の締結等を行なう場合において、当該行為に関する一切。<br>
【3】本サイトの提供に不具合、エラーや障害が生じないこと。<br>
【4】本サイトを通じて入手できる商品、役務、情報等などが利用者の皆様の期待を満たすものであること。<br>
【5】本サイト中に含まれる利用者等の発言・発信行為が第三者の権利を侵害しないこと。<br>
【6】本サイトに関連して送信される電子メール、ウェブコンテンツ等に、コンピュータウィルス等の有害なものが含まれていないこと。</td></tr>
<tr><td>２</td><td>運営者は、本サイトについて、いつでも運営者の判断のみにより、その内容の修正、削除、追加等、また、サービスの改廃等を行うことができるものとし、本サイトの存続または同一性が維持されることを一切保証致しません。</td></tr>
<tr><td>３</td><td>運営者は、利用者が本サービスを利用する際に発生する通信費用や設備投資について、一切負担しないものとします。</td></tr>
<tr><td>４</td><td>運営者は、本サービスのご利用（これらに伴う運営者による情報提供行為等を含みます。）または利用不能により生じる一切の損害（本項各号に定める損害や、本条第１項および第２項により利用者または第三者に生じた損害、精神的苦痛、またはその他の金銭的損失を含む一切の不利益）につき、運営者に故意または重過失がない限り責任を負わないものとします。<br>
【1】本サイトを介して行う、第三者が提供するコンテンツのダウンロード、及び、第三者が管理・運営するリンクサイトへのアクセス等の行為により、利用者の皆様に生じた損害。<br>
【2】運営者が相当の安全策を講じたにもかかわらず、本サイトの無断改変、本サイトに関するデータへの不正アクセス、コンピュータウィルスの混入等の不正行為が行われ、これに起因して利用者の皆様に生じた損害。<br>
【3】通信回線やコンピューターの障害等による、運営者のサーバーやシステム、本サービスの中断、遅延、中止、データ消失等により生じた損害。<br></td></tr>
<tr><td>５</td><td>前各項において、運営者が責任を負う場合であっても、運営者の故意または重過失がない限り、運営者の責任は直接かつ通常の損害に限られるものとする。</td></tr>
</table>

              </div>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "利用規約に同意して登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>