<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>
<li>
  <%= s.fields_for :words do |w| %>
    <ul>
      <%= w.text_field :ja ,placeholder: "単語(日本語)"%>
      <%= w.text_field :ch ,placeholder: "単語(中国語)"%>
    </li>
    </ul>
  <% end %>
</li>