<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="短文・単語をみんなで共有しながら学ぶ中国語学習サイトです。">
    <meta name="viewport" content="width=360,initial-scale=1">
    <title>BENTO Chinese</title>
    <link rel="icon" type="image/png" href="/assets/logo_transparent.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="header-container">
        <nav class="navbar navbar-fixed-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle hunbarger-color" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">メニュー</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/sentences"></a>
          </div>

          <div id="gnavi" class="collapse navbar-collapse">
            <div class="chop">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/abouts">About</a></li>
              <% if user_signed_in? %>
                <li><a href="/users/<%= current_user.id %>">MyBento</a></li>
                <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                  <li><%= link_to "Log-in", new_user_session_path, class: 'post' %></li>
                  <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
              <% end %>
            </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="contents">
    <%= yield %>
    </div>

    <footer>
      <p>
        <img src="<%= asset_path "logo_transparent.png" %>" />    Copyright(C) BENTO ALL RIGHT RESERVED   <img src="<%= asset_path "logo_transparent.png" %>" />
      </p>
    </footer>
  </body>
</html>
